<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
</head>

<body>
    @* Start Header *@
    <header class="mt-5">
        <center>
            <nav>
                <a asp-controller ="Home" asp-action="Index"  class="btn btn-primary">Home</a>
                <a href="/Home/AboutUs" class="btn btn-warning">AboutUs</a>
                <a href="/Home/Privacy" class="btn btn-success">Privacy</a>
                <a href="/Home/ContactUs" class="btn btn-light">ContactUs</a>
            </nav>
        </center>

    </header>
    @* End Header *@

    @* Start Body *@
    <div>
        @RenderBody()
    </div>
    @* End Body *@

    @* Start Footer *@
    <footer>
        <center>
            <div class="mt-3">
                <p>CopyRights &copy; Zalta @DateTime.Now.Year</p>
            </div>
        </center>
    </footer>
    @* End Footer *@

</body>
</html>
